<nav class="px-2 navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="<%=ROUTES.ADMIN.HOME%>">
        GuiaPress
    </a>

    <ul class="navbar-nav w-auto mr-auto">
        <li class="nav-item">
            <a  class="nav-link" href="<%=ROUTES.USER.LIST%>">Usuários</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" href="<%=ROUTES.CATEGORY.LIST%>">Categorias</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" href="<%=ROUTES.ARTICLE.LIST%>">Artigos</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="<%=ROUTES.USER.LOGOUT%>" class="nav-link">Logout</a>
        </li>
    </ul>

</nav>